.navbar-brand
{
    padding: 1px 25px 1px 10px;
}

.navbar-brand img
{
    max-height: 100%;
    padding: 10%;
}

body {
    position: relative;
}

body{
    overflow-y: hidden;
}
#cse.active a {background-color: #673ab7;}
#ece.active a {background-color: #1E88E5;}
#mae.active a {background-color: #ff9800;}
#eee.active a {background-color: #00bcd4;}
#it.active a {background-color: #009688;}

#section1 {padding-top:50px;height:100vh;color: #fff; background-color: #673ab7; overflow-y: auto;}
#section2 {padding-top:50px;height:100vh;color: #fff; background-color: #1E88E5; overflow-y: auto;}
#section3 {padding-top:50px;height:100vh;color: #fff; background-color: #ff9800; overflow-y: auto;}
#section4 {padding-top:50px;height:100vh;color: #fff; background-color: #00bcd4; overflow-y: auto;}
#section5 {padding-top:50px;height:100vh;color: #fff; background-color: #009688; overflow-y: auto;}

.card{
    margin-top: 10%;
    background-color: #333;
    border-color: #333;
    border-radius: 10px;
    padding: 5%;
}
/*
@media (max-width: 500px){

    .card-text{
        display: none;
        !*font-size: xx-small;*!
    }
    .card-title{
        font-size: x-small;
    }
}*/




