body{
	background-color: #2f2f2f;
	background-image: url("../images/back.jpg");
	background-attachment: fixed;
}

#affix1 {
	top:0;
	width: 100%;
	z-index: 9999 !important;
}
.navbar {
	margin-bottom: 0px;
	border-radius: 0;
}

#affix1 ~ .container-fluid {
	position: relative;
	top: 50px;
}

.card{
	margin-top: 5%;
	background-color: #333;
	border-color: #333;
	border-radius: 10px;
	padding: 5%;
	color: #fff;
}

.card-block{
	height: 45rem;
}

#sem1.active a {background-color: #3e3e3e;}
#sem2.active a {background-color: #3e3e3e;}
#sem3.active a {background-color: #3e3e3e;}
#sem4.active a {background-color: #3e3e3e;}
#sem5.active a {background-color: #3e3e3e;}
#sem6.active a {background-color: #3e3e3e;}
#sem7.active a {background-color: #3e3e3e;}
#sem8.active a {background-color: #3e3e3e;}





