body{
	background-color: #2f2f2f;
	background-image: url("../images/back.jpg");
	background-attachment: fixed;
}

#affix1 {
	top:0;
	width: 100%;
	z-index: 9999 !important;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

#affix1 ~ .container-fluid {
	position: relative;
	top: 50px;
}

.card{
	margin-top: 5%;
	background-color: #333;
	border-color: #333;
	border-radius: 10px;
	padding: 5%;
	color: #fff;
}

.row{
	width: auto;
}
.card-block{
	height: 45rem;
}

.button{
	float: right;
}

#sem1.active a ,#sem2.active a,#sem3.active a,#sem4.active a,
#sem5.active a ,#sem6.active a,#sem7.active a,#sem8.active a
{
	background-color: #3e3e3e;
}

/*.content{
	display: none;
}

#cse-sem-6{
	display: block;
}*/

@media only screen and (max-width: 768px) {
	.card-block{
		height: auto;
	}
}





