body{
    background-image: url("../images/back.jpg");
}
#topbar{
    background-color:#F44336;
    color:#fff;
    height:200px;
}

#affix1 {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
    border-radius: 0;
}

#affix1 ~ .container-fluid {
    position: relative;
    top: 50px;
}

.card{
    margin-top: 5%;
    background-color: #333;
    border-color: #333;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}

.card-block{
    height: 45rem;
}

#sem5.active a {background-color: #3e3e3e;}

